1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

5. Read books.csv and insert its data into the book table.

6. Select and print the title column from the book table in alphabetical order.

7. From the book table, select and print all columns in the order of publication.

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
file = open('test.txt','w')
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2=open("test.txt","r")
print(test2.read())
test2.seek(0)
print(test2.read()==test1, " hence ","There is no Difference between test1 and test2")

This is a test of the emergency text system,
True  hence  There is no Difference between test1 and test2

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
     
f=open("books.csv","r")
f.read()

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3 
db=sqlite3.connect("books.db")
c=db.cursor()
c.execute("create table if not exists books(title text,author text,year int)")
db.commit()

5. Read books.csv and insert its data into the book table.

In [5]:
for i in rows[1:]:
    c.execute(f'insert into books values{tuple(i)}')
    db.commit()

6. Select and print the title column from the book table in alphabetical order.

In [6]:
c.execute("select title from books order by title")
c.fetchall()

[('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Small Gods',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [7]:
c.execute("select * from books order by author")
c.fetchall()
db.commit()
db.close

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy
engine = sqlalchemy.create_engine(f"sqlite:///books.db")
db = engine.execute("select * from books")
for i in db:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
!pip install redis
import redis
connect = redis.Redis()
connect.hmset("test",{"count" : 1,"name" : "Fester Bestertester"})
connect.hgetall("test")

10. Increment the count field of test and print it.

In [10]:
connect.hincrby("test","count",3)